* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.light_text {
  color: white;
}
.dark_text {
  color: black;
}

.web_body .nav_body_default {
  position: fixed;
  overflow-y: scroll;
  width: 150px;
  padding: 20px;
  background-color: blueviolet;
  height: 100vh;
  scrollbar-width: none;
}
.web_body .nav_body_default::-webkit-scrollbar {
  width: 0.1em;
}
.nav_body_toggled {
  display: none;
}

.web_body .nav_body_default::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.item_container {
  margin-top: 10px;
}

.item_container h2 {
  text-transform: uppercase;
}

.item_container img {
  width: 100%;
  height: 90px;
}
/* right side */
.right_body_default {
  margin-left: 190px;
  background-color: brown;
}
.right_body_toggled {
  margin: 0;
}
.top_nav {
  position: fixed;
  background-color: teal;
  height: 60px;
}
.top_nav_default {
  width: calc(100% - 190px);
}
.top_nav_toggled {
  width: 100%;
}
.nav_items {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: space-between;
}
.sub_list {
  display: flex;
  align-items: center;
  padding: 10px;
}
.sub_list div {
  margin: 10px;
}
.sub_list_devices{
  display: flex;
  color: rgb(154, 154, 154);
}
.sub_list_devices .active{
  color: rgb(255, 255, 255);
}

.svg-container {
  width: 20px; 
  height: 20px;
  cursor: pointer;
}
