@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
code {
  background: transparent;
}

.light_text {
  color: white;
}
.dark_text {
  color: black;
}

.web_body .nav_body_default {
  position: fixed;
  overflow-y: scroll;
  width: 190px;
  padding: 20px;
  height: 100vh;
  scrollbar-width: none;
}
.nav_body_day {
  background-color: #c2cedbad;
}
.nav_body_night {
  background-color: #1a202ccc;
}
.web_body .nav_body_default::-webkit-scrollbar {
  width: 0.1em;
}
.nav_body_toggled {
  display: none;
}
.nav_button_night {
  background-color: #13103e81;
}
.tablet-screen {
  border: none;
}

.tablet-screen.active {
  border: 4px solid;
  border-color: #22668d;
}

.web_body .nav_body_default::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.item_container {
  margin-top: 10px;
}

.item_container h5 {
  text-transform: uppercase;
}

.container_preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_container img {
  width: 100%;
  height: 90px;
}
/* right side */
.right_body_day {
  background-color: #d1d1d180;
}
.right_body_night {
  background-color: #13103e81;
}
.right_body_default {
  margin-left: 190px;
  margin-right: -190px;
}
.right_body_toggled {
  margin: 0;
}
.top_nav {
  position: fixed;
  background-color: #22668d;
  height: 60px;
  z-index: 1;
}
.top_nav_default {
  width: calc(100% - 190px);
}
.top_nav_toggled {
  width: 100%;
}
.nav_items {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: space-between;
}
.sub_list {
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo {
  color: white;
}
.sub_list div {
  margin: 10px;
}
.sub_list .code_button {
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 50px;
  color: white;
  border: 2px solid rgb(162, 162, 162);
  white-space: nowrap;
}

.sub_list .code_button:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.sub_list_button {
  display: flex;
  gap: 10px;
}

.sub_list_devices {
  display: flex;
  color: rgb(154, 154, 154);
}
.sub_list_devices .active {
  color: rgb(255, 255, 255);
}

.svg-container {
  width: 20px;
  /* height: 20px; */
  cursor: pointer;
}

.right_content {
  padding-top: 100px;
}
.preview_container{
  display: flex;
  justify-content: center;
}
.prview_default {
 width: calc(100% - 190px);
}
.prview_toggled{
  width: 100%;
}

.main_section {
  height: 100vh;
  scrollbar-width: none;
  overflow-y: scroll;
}
.main_section_default {
  /* background-color: #d1d1d180; */
  width: calc(100% - 190px);
}
.main_section_toggled {
  /* background-color: #13103e81; */
  width: 100%;
}
.main_section::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.main_section::-webkit-scrollbar {
  width: 0.1em;
}
.main_section iframe {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.main_section iframe body {
  background-color: transparent;
}

.github {
  padding: 8px 12px;
  border-radius: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  color: #4a5568;
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.iframe-container {
  width: 100%; /* Adjust the width as needed for the smaller frame */
  height: 100px; /* Set the height of the iframe container */
  position: relative;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.markup {
  display: none;
}

.desktop {
  min-width: 992px;
}
.tablet {
  max-width: 768px;
}
.mobile {
  max-width: 576px;
}
